/******************************************************************************
 * WATS1010: Introduction to Web Development
 * Embedded Media Assignment
 *
 * Site Styles
 *****************************************************************************/

 html {
     color: green;
 }
 body {
 	margin: 0;
 }
 header {
      min-height: 400px;
 	 background-image: url('../img/monkaa_title.jpg');
 	 background-repeat: no-repeat;
 	 background-position: center center;
 	 background-size: cover;
 	font-family: Rockwell;
  }
