/******************************************************************************
 * WATS1010: Introduction to Web Development
 * Embedded Media Assignment
 *
 * Site Styles
 *****************************************************************************/

 html {
	 padding: 0;
     color: black;
 }
ul{
	list-style-type: none;
}
body{
	background-color: lightblue;
	margin: 0;
}
header {
	min-height: 700px;
	background-image: url('../img/official_header.jpg');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	}

h1 {
	font-family: Serif;
	Font-style: normal;
	}

.subtitle {
	font-style: inherit;
}
#watch{
    margin: auto;
    width: 60%;
    border:3px solid #8AC007;
    padding: 10px;
}
#social hover {
	width: 250px;
	color: yellow;

}
#social ul {
	list-style-type: none;
	padding: 0;
}
#social li{
	margin: 0;
	padding: 0;
}
#social {
	background-color: transparent;
	border-top: 7px dotted black;
	border-bottom: 7px dotted black;
	position:fixed;
	top: 50px;
	right: 0;
	width: 250px;
}

 h2 {
	 color: black;
 }

.lead {
	font-family: georgia,serif;
	font-size: 20px;
	font-weight: bold;
	letter-spacing: .1em;
	text-transform: uppercase;
	padding-bottom: 3px;
}
.headshot {
	display: inline;
	padding:3px;
/*	background-position: center 30px; */
}
